---
import Layout from "../layouts/Layout.astro";
---

<Layout title="jacks page">
  <main>
    <h1>jacks page</h1>
    <p>a place on the internet, just like any other place</p>
    <a class="leaves" href="./tea-log/">
      <div>
        <p>tea log</p>
      </div>
    </a>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    font-family: monospace;
  }

  .leaves {
    text-decoration: none;
  }

  .leaves div {
    margin: 1rem 0;
    width: 600px;
    text-align: center;
    background-image: url(/assets/leaves.png);
    background-size: 25rem;
    image-rendering: pixelated;
    color: white;
    padding: 2rem;
  }

  .leaves p {
    font-weight: bold;
    font-size: 5rem;
    -webkit-text-stroke: 3px black;
  }
</style>
