:root {
  font-size: 18px;

  --main-bg-color: #ffadbc;
  --main-text-color: rgb(36, 36, 36);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--main-bg-color);
}

body {
  padding: 2rem;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.3rem 0;
  font-size: 1rem;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

div {
  display: flex;
  gap: 2rem;
  margin: 0.4rem 0;
}

div p {
  margin: 0.4rem 0;
}
