---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntryBySlug } from "astro:content";

export async function getStaticPaths() {
  const tealogs = await getCollection("tealog");
  return tealogs.map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const { id, render } = (await getEntryBySlug("tealog", slug!))!;
const { Content } = await render();
---

<Layout title={slug ?? ""}>
  <main>
    <h1>{slug}</h1>
    <Content />
  </main>
</Layout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    font-family: monospace;
  }

  main img {
    margin: 2rem 0;
    height: 30rem;
  }

  strong {
    font-weight: 900;
  }
</style>
