---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

export const getSortedTealogs = async () =>
  (await getCollection("tealog")).sort((a, b) => {
    if (a.data.date < b.data.date) {
      return 1;
    }
    if (a.data.date > b.data.date) {
      return -1;
    }
    return 0;
  });

const tealogs = await getSortedTealogs();
---

<Layout title="tea log">
  <main>
    <h1>tea log</h1>
    <ul>
      {
        tealogs.map((tealog) => (
          <a href={`./${tealog.slug}/`}>
            <>
              <li>
                <img src={`/assets/tea-log/${tealog.slug}/tea.gif`} />
                {tealog.slug}
              </li>
            </>
          </a>
        ))
      }
    </ul>
    <a href="./rss.xml">rss</a>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    font-family: monospace;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
  }

  li img {
    height: 1em;
  }
</style>
