---
import Layout from "../../layouts/Layout.astro";

import { getCollection, getEntry } from "astro:content";

const tealogs = await getCollection("tealog");
---

<Layout title="tea log">
  <main>
    <h1>tea log</h1>
    <ul>
      {
        tealogs.map((tealog) => (
          <a href={`./${tealog.slug}/`}>
            <li>{tealog.slug}</li>
          </a>
        ))
      }
    </ul>
    <a href="./rss.xml">rss</a>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    font-family: monospace;
  }
</style>
